html {
	background-color:  #000000;
	padding:           0% 10%; 
	max-width:         800px;
	color:             #00FF00; 
	text-align:        justify;
	font-family:       "monospace";

}
a {
	color:             #00FFFF;
}

.code {
	color:             #FFFFFF; 
	background-color:  #383838;
}

.wsp {
	white-space:       pre;
}

.todo {
	color:             #FFFFFF; 
	background-color:  #FF0000;
}

.comment {
	color:             #44AA44; 
	background-color:  #000000;
}

.aside {
	color:             #77FF00; 
	background-color:  #000000;
}
